{% capture styles %}
  {% include main.scss %}
{% endcapture %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="I am a Software Developer">
  <title>{{site.title}}</title>

  <link href='fonts/RobotoMono/font.css' rel="preload" as='style'>

  <link rel="stylesheet" href="fonts/RobotoMono/font.css" />
  <link rel="icon" href="img/favicon.ico" type="image/x-icon" />

  <style>
    {{ styles | scssify }}
  </style>
</head>
