@-webkit-keyframes div1 {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
}

@keyframes div1 {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
}
@-webkit-keyframes div2 {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 100;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes div2 {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 100;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes div3 {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
}
@keyframes div3 {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
}
@-webkit-keyframes div1b {
  0% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
@keyframes div1b {
  0% {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
@-webkit-keyframes div2b {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 100;
  }
  100% {
    opacity: 100;
  }
}
@keyframes div2b {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 100;
  }
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes div3b {
  0% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}
@keyframes div3b {
  0% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
  }
}

nav {
  background: dodgerBlue;
}

nav ul {
  margin: 0;
  display: inline-block;
}

nav li {
  padding-right: 20px;
  padding-top: 20px;
  height: 40px;
  display: inline-block;
}

img {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: none;
  }

  nav li {
    display: none;
  }
}

nav a {
  text-decoration: none;
  color: white;
}

#mainContainer {
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.menu-button {
  display: none;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

.menu-button div {
  margin: 6px 0 6px 0;
  height: 3px;
  width: 30px;
  background-color: white;
}

.menu-button div:nth-child(1).reset {
  -webkit-animation: div1b 0.5s forwards;
          animation: div1b 0.5s forwards;
}
.menu-button div:nth-child(1).active {
  -webkit-animation: div1 0.5s forwards;
          animation: div1 0.5s forwards;
}
.menu-button div:nth-child(2).reset {
  -webkit-animation: div2b 0.5s forwards;
          animation: div2b 0.5s forwards;
}
.menu-button div:nth-child(2).active {
  -webkit-animation: div2 0.5s forwards;
          animation: div2 0.5s forwards;
}
.menu-button div:nth-child(3).reset {
  -webkit-animation: div3b 0.5s forwards;
          animation: div3b 0.5s forwards;
}
.menu-button div:nth-child(3).active {
  -webkit-animation: div3 0.5s forwards;
          animation: div3 0.5s forwards;
}


@media screen and (max-width: 800px) {
  nav {
   height: 50px;
  }
  .menu-button {
    display: inline-block;
  }
  img {
    display: block;
  }
}